/* Home ONLY */
.banner {
    position: relative;
    height: 500px;
    max-height: 500px;
    min-height: 500px;
}
.banner .swiper-slide.t1 {
    
    background: #ffb81c;
    position: relative;
    min-height: 500px;
}
.banner .swiper-slide.t1 img {
    width: auto;
    height: 500px;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}
.banner .swiper-slide.t1 .info {
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 100%;
    padding: 2rem;
    
}
.banner .swiper-slide.t1 .info .i1 {
    font-size: 2.25rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1.5rem;
}
.banner .swiper-slide.t1 .info .i2 {
    font-size: 3.975rem;
    font-weight: 800;
    color: var(--primary-color);
    margin-bottom: -1.5rem;
}

.banner .swiper-slide.t1 .info .i4 {
    font-size: 6.5rem;
    font-weight: 900;
    color: #802f2d;
}

.banner .swiper-slide.t2 {
    background: var(--primary-color);
    position: relative;
    min-height: 500px;
}


.swiper-pagination1 {
    width: auto !important;
    background-color: var(--senary-color);
    padding: 0.5rem 1.5rem;
    margin-left: calc(50vw - 52px);
    border-radius: 1.5rem;
    margin-bottom: -25px;
    min-width: 90px;
}
.swiper-pagination1 .swiper-pagination-bullet {
    background-color: var(--tertiary-color);
    height: 10px;
    width: 10px;
    border-radius: 10px;
}
.swiper-pagination1 .swiper-pagination-bullet-active {
    background-color: var(--primary-color);
    width: 30px;
    height: 10px;
    border-radius: 10px;
}