@font-face {
    font-family: 'RuckSack';
    src: url('./fonts/RuskSack-Light.otf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RuckSack';
    src: url('./fonts/RuckSack-Book.otf');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RuckSack';
    src: url('./fonts/RuckSack-Medium.otf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RuckSack';
    src: url('./fonts/RuskSack-DemiBold.otf');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RuckSack';
    src: url('./fonts/RuskSack-Bold.otf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RuckSack';
    src: url('./fonts/RuckSack-Black.otf');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

:root {
    --primary-color: #fa4616;
    --secondary-color: #fdf3cb;
    --tertiary-color: #d9d9d6;
    --quaternary-color: #eaddd2;
    --quinary-color: #ffb81c;
    --senary-color: #000;
    
    --font-family: 'RuckSack', sans-serif;
    --line-height: 1.25;
    --base-font-size: 16px;
    --bg: #eaddd236;
    --text: #000;
    --subtext: #4e4e4e;
    --max-width: 1440px;

}

html {
    font-family: var(--font-family);
    font-size: var(--base-font-size);
    line-height: var(--line-height);
    background: var(--bg);
    color: var(--text);
}
body {
    font-family: var(--font-family);
    font-size: var(--base-font-size);
}
* {
    font-family: var(--font-family);
    color: var(--text);
}

.section {
    width: 100%;
    min-height: 100vh;
}

/* Topnav */
.topnav {
    background: #ffffff21;
    width: 100%;
    height: 150px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    
}
.topnav > .content{
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 3vw;
}

.topnav .logo {
    width: fit-content;
}
.topnav .logo .logo-img {
    width: 150px;
    height: auto;
}
.topnav .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}
.topnav .menu .menu-item {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--text);
    text-decoration: none;
    transition: all 0.3s ease;
}
.topnav .menu .menu-item.animated {
    background: linear-gradient(
        270deg,
        var(--primary-color),
        var(--quinary-color),
        #86a8e7,
        var(--primary-color)
    );
    background-size: 400% 400%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: animatedGradient 6s ease infinite;
}
.topnav .menu .menu-item:hover {
    color: var(--primary-color);
}
.topnav .buttons {
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.topnav .buttons .order-line {
    padding: 5px;
    background: transparent;
    border-radius: 30px;
    border: 2px solid var(--primary-color);
    display: inline-block;
    position: relative;
    /* 初始阴影 */
    box-shadow: 0 0 0 0 rgba(250, 70, 22, 0.6);
    animation: notifyPulse 1.5s infinite;
}
.topnav .buttons .btn-order {
    font-size: 1.25rem;
    padding: 0.5rem 1rem;
    border-radius: 0.5vw;
    background: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: 600;
}
.topnav-hover {
    position: absolute;
    top: 110px;
    width: 200px;
    max-height: 500px;
    display: none;
    border-radius: 10px;
}
.topnav-hover .content{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 1.5rem;
    background: #ffb81c2d;
    border-radius: 15px;
}
.topnav-hover .content a{
    text-decoration: none;
    color: var(--text);
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
}
.topnav-hover .content a:hover{
    color: var(--primary-color);
}
  
@keyframes notifyPulse {
    0% {
      box-shadow: 0 0 0 0 rgba(250, 70, 22, 0.6);
    }
    70% {
      box-shadow: 0 0 0 10px rgba(250, 70, 22, 0);
    }
    100% {
      box-shadow: 0 0 0 0 rgba(250, 70, 22, 0);
    }
}
@keyframes animatedGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Footer */
.footer {
    background: var(--secondary-color);
    width: 100%;
    min-height: 200px;
    
}
.footer .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3vw;
    max-width: var(--max-width);
    margin: 0 auto;
}
.footer .content .logo {
    width: 330px;
    text-align: center;
    border-right: 3px solid var(--primary-color);
    padding: 1rem 0;
}
.footer .content .logo .logo-img {
    width: 150px;
    height: auto;
}
.footer .content .menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: .75rem;
    max-width: 180px;
    margin: 0 auto;
}
.footer .content .menu .menu-title {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--primary-color);
    margin: 1rem 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer .content .menu .menu-item {
    display: flex;
    align-items: center;
    gap: .675rem;
    text-decoration: none;
}
.footer .content .menu .menu-item .flag {
    border-radius: 50%;
    border: 1.5px solid var(--primary-color);
}
.footer .content .menu .menu-item .flag .flag-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
}
.footer .content .menu .menu-item span {
    font-size: 1rem;
    font-weight: 700;
    color: var(--primary-color);
    text-decoration: none;
}
.footer .content .info {
    flex: 1;
    padding: 1rem 2rem;
}
.footer .content .info .info-big-title {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
}
.footer .content .info .info-big-title .flag {
    border-radius: 50%;
    border: 1.5px solid var(--primary-color);
}
.footer .content .info .info-big-title .flag .flag-img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: hidden;
}
.footer .content .info .info-big-title span {
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    color: var(--primary-color);
}
.footer .content .info .info-sub-title {
    display: flex;
    align-items: center;
    gap: .25rem;
}
.footer .content .info .info-sub-title .title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
}
.footer .content .info .info-sub-title .desc {
    font-size: .8rem;
    font-weight: 500;
    color: var(--text-color);
}
.footer .content .info .info-sub-desc {
    font-size: .9rem;
    font-weight: 400;
    color: var(--text-color);
    margin: .75rem 0 0;
    border-top: 1.5px solid var(--primary-color);
    padding-top: .75rem;
    padding-bottom: .75rem;
}
.footer .content .info .info-row {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
}
.footer .content .info .info-row .item {
    display: flex;
    align-items: center;
    gap: .5rem;
    text-decoration: none;
}
.footer .content .info .info-row .item .mdi {
    font-size: 2rem;
    color: var(--primary-color);
}
.footer .content .info .info-row .item span {
    font-size: 1rem;
    font-weight: 700;
    color: var(--text) !important;
    text-decoration: none;
}
.footer .tail {
    text-align: center;
    font-size: .75rem;
    font-weight: 400;
    text-transform: uppercase;
    background: var(--primary-color);
    width: 100%;
    padding: .5rem 3vw;
    color: #fff;
}